html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5;
  background-color: #f5f2f0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 1rem;
  padding-bottom: 0;
}

h1, h2 {
  font-family: "Denk One", sans-serif;
  color: #623b0c;
  margin: 0 0 1.5rem;
  padding: 0;
}

img {
  width: 100%;
  margin: 0 0 1.5rem;
  padding: 0;
}

ol {
  display: grid;
  margin-top: 1.5rem;
  padding: 0;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

li {
  background-color: #ede3db;
  border: 2px solid #623b0c;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
}

p {
  color: #000;
  margin: 0;
  padding: 0;
  font-family: Georgia, serif;
}

a {
  background-color: #623b0c;
  color: #fff;
  text-decoration: none;
  margin-top: 1.5rem;
  padding: .5em .75em .6em;
  border-radius: 8px;
  font-family: Georgia, serif;
}

a:hover {
  background-color: #ede3db;
  color: #623b0c;
}
